sudo: false
language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"

jobs:
  include:
    - dist: xenial
      python: "3.7"

before_install:
  - wget https://matrix.org/git/olm/snapshot/olm-2.3.0.tar.bz2
  - tar -xvf olm-2.3.0.tar.bz2
  - pushd olm-2.3.0 && make && sudo make PREFIX="/usr" install && popd
  - rm -r olm-2.3.0
install: pip install tox-travis
script: tox
